/* |||||||||||||| start : main rules ||||||||||||||*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

}

body {
    background:#DDD;
    font-family: 'Noto Naskh Arabic', serif;
}


ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* |||||||||||||| end : main rules ||||||||||||||*/

/* |||||||||||||| start : Header ||||||||||||||*/


/* |||||||||||||| end : Header ||||||||||||||*/

/* |||||||||||||| start : Content ||||||||||||||*/


/* |||||||||||||| end : Content ||||||||||||||*/

/* |||||||||||||| start : footer ||||||||||||||*/


/* |||||||||||||| end : footer ||||||||||||||*/